html, body, #application, #applicationContainer {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: arial;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

noscript p {
	margin-left: 20px;
}

noscript p.rouge {
	color: red;
	font-weight: bold;
}

noscript a {
	color: black;
}

noscript ol {
	margin-left: 20px;
}

#chargement {
	margin: 100px auto;
	padding: 10px 30px;
	text-align: center;
	width: 100%;
	position: absolute;
}

#chargement #progressbar {
	width: 250px;
	margin: auto;
}

#connexion {
	text-align: center;
}

.alerte {
	text-align: center;
}

.alerte a {
	color: black;
}

#connexion #tableauConnexion {
	margin: auto;
}


#applicationCenterContainer
{
	z-index:4;
	overflow:visible;
	background-color:transparent;
}

#applicationCenter {
overflow:visible;
	z-index:4;
	padding: 0px;
	border: 0px;

	background-color:transparent;

	background-color: transparent;

}



#applicationCenter #corbeille {
	display: block;
	float: left;
}

#applicationCenter #envoiAuxAnimateurs {
	display: none;
	float: right;
}

#applicationCenter #envoiAuxNonAnimateurs {
	display: none;
	float: right;
}

#applicationCenter #envoiATous {
	display: none;
	margin: auto;
}

#divBienvenue {
	width: 400px;
	margin: 100px auto;
	padding: 0px;
	border: none;
}

#divBienvenue h3 {
	text-align: center;
}

#divBienvenue p {
	text-align: justify;
}

div.carreCouleur {
	height: 20px;
	width: 20px;
	float: left;
	margin: 5px;
	border: 1px rgb(181,188,199) solid;
}

div.carreCouleur:hover {
	border: 1px rgb(117,157,192) solid;
	cursor: pointer;
}

.contenuPI {
	border: 1px rgb(181,188,199) solid;
	text-align: center;
	overflow: hidden;
	box-shadow: 1px 1px 4px 0px #888888;
}

.contenuPI:hover {
	border: 1px rgb(117,157,192) solid;
	cursor: move;
}

div.resizeHandle {
	height: 11px;
	width: 11px;
	background-image : url("../images/resize.png");
	background-repeat: no-repeat;
	cursor: se-resize;
}

#applicationBottom {
	border: none;
	padding: 0px;
	background-color: transparent;
}

#applicationBottom table {
	border-collapse: collapse;
	border: none;
}

#applicationBottom td {
	border: 1px rgb(181,188,199) solid;
	width: 100px;
	height: 100px;
	text-align:center;
}
#applicationBottom td.hover
{
	background-color:red;
}


#applicationBottom div.groupe1 {
	background-image: url("../images/participant.png");
	background-repeat: no-repeat;
}

#applicationBottom div.groupe2 {
	background-image: url("../images/groupe2.png");
	background-repeat: no-repeat;
}

#applicationBottom div.groupe3 {
	background-image: url("../images/groupe3.png");
	background-repeat: no-repeat;
}

#applicationBottom div.dojoDndItemBefore {
	border: none;
	border-left: 2px black solid;
}

#applicationBottom div.dojoDndItemAfter {
	border: none;
	border-right: 2px black solid;
}

img.iconLoad {
	background-image: url("../images/load.png");
	width: 24px;
	height: 24px;
}

img.iconSave {
	background-image: url("../images/save.png");
	width: 24px;
	height: 24px;
}

img.iconLogout {
	background-image: url("../images/logout.png");
	width: 24px;
	height: 24px;
}

img.couleur1, img.couleur2, img.couleur3, img.couleur4, img.couleur5 {
	width: 24px;
	height: 24px;
	border: 1px solid lightgrey;
}

#DZBar
{
	background-color:green;
	height:100px;
	border:1px solid black;
	overflow:visible;
}

.dijitBorderContainer, .dijitBorderContainerNoGutter
{
	overflow:visible;
	z-index:4;
}